.contact {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.from h5 {
    padding-top: 4px;
}

.form {
    width: 200%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    background-color: rgb(200, 0, 231);;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(156, 2, 180);
}

.contact p {
    padding-top: 10px;
    padding-bottom: 10px;
}
