.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 0, 73, 0.649);
    color: #fff;
    height: 150px;
}

.footer img{
 width: 80px;
 opacity: 0.5;
}

.footer img:hover{
 opacity: 1;
}
.footer {
    background-color: rgb(236, 214, 240);
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 28px;
    padding-top: 30px;
}
.navTitle{
    padding-top: 10px;
    padding-left: 20px;
}

.navContainer img {
    object-fit: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 150px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}

.tab {
    text-decoration: none;
    color: #fff;
}

.tab-item.clicked{
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(200, 0, 231);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-size: contain;
}
.tab-item{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}