.page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(236, 214, 240);
}
.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.title_card .logo {
    width: 40%;
    height: auto;
    opacity: 0.5;
    position: relative;
    right: -25%;
    padding: 2px;
}
.title_card .logo:hover {
    opacity: 10;
    cursor: grab;
}

.title_card {
    z-index: 1;
    position: absolute;
    width: 46%;
    height: 50%;
    border-radius: 50px;
    background-color: rgba(255, 0, 212, 0.568);
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.title_card:hover {
    opacity: 1;
}

.title_content {
    padding-top: 5px;
    opacity: 0.5;
    color: black;
    text-align: center;
}
.title_content:hover {
    opacity: 1;
}

.work_card {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 46%;
    border-style: double;
    border-color: rgb(255, 0, 212);
    margin: 2%;
    height: 360px;
    border-radius: 50px;
}

.work_card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    border-radius: 50px;
}

.work_card:hover img {
    opacity: 0.5;
    cursor: grab;
}

/* for glowing border */
.work_card:hover {
    border-style: solid;
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    text-decoration: underline;
}

.section_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

