.resume {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 214, 240);
}

.resume h5 {
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.resume h5 a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}
.resume h5 a:hover {
    text-decoration: underline;
}

.resume_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%
}

.set {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 1%;
    background-color: rgb(255, 134, 235);
    border-style: solid;
    border-color: rgb(200, 0, 231);
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    border-radius: 50px;
    height: 300px;
}

.set h3 {
    text-align: center;
    padding-bottom: 10px;
}
.set ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 120px;
}

@media screen and (max-width: 930px)  {
    .set {
        height: auto;
    }
}
@media screen and (max-width: 768px)  {
    .resume_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .set {
        width: 100%;
        margin: 0;
        margin-bottom: 2%;
    }
}